<div class="row">
	<div class="col-md-6 offset-3 alert-success text-center">
		<h2>Your Account Created Successfuly</h2>
		<p>
			You can LogIn using your Credential
		</p>

		<hr />
		<p>Thank you</p>
	</div>
</div>